<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<style>
    .form-container {
        display: none;
      }
      
      .table-container, .DataTable {
        position: relative;
        padding: 2%;
        overflow-y: hidden;
      }
      
      
      h1 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 66px;
        margin: 0;
        padding-top: 10px;
        text-align: center;
        font-size: 3em;
        vertical-align: center;
        background-color: #87CEEB;
        color: #FFFFFF;
      }
      
      h2 {
        margin-top: 0;
        width: 50%;
        float: left;
      }
      .table-header button {
        float: right;
      }
      .table-header {
        overflow: hidden;
      }
      #DataTables_Table_0_paginate{
        float: right;
      }
      #DataTables_Table_0_filter label {
        float: right;
      }
      
      .view, .add-customer {
        margin-top: 200px;
        margin-left: 25%;
        font-size: 2em;
      }
      
      .message {
        display: none;
        position:fixed;
        bottom:0;
        right:0;
        padding: 10px;
        background-color: #494545;
        color: #FFFFFF;
        font-size: 1.3em;
        border-style: ridge;
        border-width: 2px 0 0 2px;
        border-color: #3A3838;
        border-radius: 10%;
        width: 10%;
      }
      
      .error-msg {
        color: #C93131;
      }
      
      .form-container form {
        width: 40%;
        padding: 2% 2% 1% 2%;
        margin-left: 30%;
      }
      .form-container {
        padding-bottom: 30px;
      }
      .form-container input {
        padding: 3px;
        width: 300px;
      }
      .form-container .rdo-gender {
        vertical-align: top;
        width: auto;
      }
      .form-container .radio-gender {
        padding-left: 10px;
      }
      .form-container span {
        padding-left: 8px;
      }
      
      .add-button, .update-button, .reset-button {
        float: right;
        margin-right: 10px;
      }
      
</style>
<h1>Edit User</h1>
<form method="POST" action="/users/update/<%= user._id %>">
  <input name="username" value="<%= user.username %>" required />
  <input name="firstName" value="<%= user.firstName %>" required />
  <input name="lastName" value="<%= user.lastName %>" required />
  <input name="email" value="<%= user.email %>" required />
  <input name="password" value="<%= user.password %>" required />
  <select name="company">
    <% companies.forEach(c => { %>
      <option value="<%= c._id %>" <%= user.company?.toString() === c._id.toString() ? "selected" : "" %>><%= c.name %></option>
    <% }) %>
  </select>
  <button type="submit">Update</button>
</form>
